# ---- EVA ----

# IDE related
.project
.settings

# ---- NICK ----

# IDE related
.vscode

# Programming related
build/
*.o
*~

# Test-Framework Build-Files (related to CMake)
CMakeFiles
gtest
CMakeCache.txt
*.cmake
cmake-build


# ---- STEVE ----
cmake-build-debug/
.idea
