# This file represents all the files that will be ignored for commits & changes
# Generally you add files here, that can be built from the sources anyways and other junk from editors & such.
# Since directories are just files too, you can type in directory names as well
# Everything written in this file IS IGNORED for commits, hence it's called gitignore
# This also means that CHANGES to these files are NOT SYNCED

# Compiler-Output
build
*.o

# Doxygen-Output
doc

# VS-Code Junk
.vscode

